* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "poppins";
}

.about-section {
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: rgba(199, 233, 176, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("assets/Images/bg-aboutus.png");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.3;
      z-index: -1;
    }

  img {
    width: 20%;
    height: auto;
    margin-right: 50px;
    position: relative;
    top: -60px;
    border: 3px solid white;
    border-radius: 20px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
  }

  .content {
    color: white;

    h1 {
      font-size: 24px;
      margin-bottom: 25px;
      color: black;

      span {
        border-bottom: 2px solid yellowgreen;
      }
    }

    h2 {
      font-size: 16px;
      margin-bottom: 15px;
      color: black;
    }

    p {
      max-width: 400px;
      color: gray;
      font-size: 12px;
      margin-bottom: 20px;
    }

    button {
      font-size: 11px;
      background-color: black;
      color: yellowgreen;
      padding: 8px 10px;
      font-weight: bold;
      border: 2px solid brown;
      border-radius: 99999px;
    }

    button:hover{
        background-color: white;
        color: black;
        border: 2px solid black;
        cursor: pointer;
    }
  }
}

.section-title{
  h2 {
    margin-left: 30px;
    margin-bottom: 75px;

    span {
      border-bottom: 4px solid yellowgreen;
    }
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  
  .card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    margin: 0px 20px 20px 20px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.2);

    .badge{
      background-color: white;
      position: relative;
      top: 40px;
      left: 20px;
      text-align: center;
      width: 60px;
      height: 25px;
      border-radius: 9999px;
      font-weight: bold;
      font-size: 12px;
      padding: 2px 0px 2px 0px;
      box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);

      img{
        width: 15px;
      }
    }
  
    img {
      width: 100%;
      border-radius: 5px;
    }
  
    .card-content {
      text-align: left;
  
      h1 {
        margin-bottom: 5px;
        font-size: 18px;
      }
  
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      span {
        float: right;
      }

      button {
        font-size: 20px;
        padding: 10px 12px;
        background-color: yellowgreen;
        color: white;
        border: none;
        border-radius: 9999px;
        position: relative;
        left: 215px;
        top: -40px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .about-section{
    img{
      display: none;
    }
  }
}